<div id="home">
  <div class="bg">
    <%= image_tag("flickr_maserati_14798923808_a42426fc2b_k.jpg") %>
  </div>

  <%= form_tag("/search", method: "get", class: "form-inline") do %>
    <%#= label_tag(:address, "Search for:") %>
    <div class="row">
      <div class="col-md-9 col-md-offset-1">
        <%= text_field_tag(:address, nil, class: "form-control", placeholder: "Search for a parking spot") %>
      </div>
      <div class="col-md-1">
        <%= submit_tag("Search", class: "btn btn-submit") %>
      </div>
    </div>
  <% end %>
</div>
